body {padding: .5em; background: black url('background/night-sky.png');}
img {max-width: 100%;}
ol {margin: 0; padding: 0; list-style-type: none;}

.inside {padding: .5em;}
.title {
	-ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
  text-shadow: 2px 2px 0 orchid, -2px -2px 0 orchid, 2px -2px 0 orchid, -2px 2px 0 orchid;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  font-size: 1.5em;
  position: relative;
  top: -9px;
}
.content, .results { margin: 0 auto; background: lightsteelblue scroll; padding: .5em; border-1px solid black; border-radius: 3px;}
.content {max-width: 35em;}
.results {max-width: 60em;}
figure {margin: 0;}
figcaption {font-size: .8em;}
.col {float: left;}
.col-narrow {width: 50%;}
.col-wide {width: 50%}
h2.rejected,h2.approved {text-transform: capitalize;}
h2.rejected {color: orangered;}
h2.approved {color: cadetblue;}
.bar {position: relative; max-width: 30em; height: 2em; margin-bottom: 1em;}
.bar div {border: 1px solid lightsteelblue; position: absolute; height: 2em; background-color: aliceblue; width: 100%;}
.rejected .percentage {background-color: orangered; border-color: orangered;}
.approved .percentage {background-color: cadetblue; border-color: cadetblue;}

.tally {text-align: center;}
.tally li {display: inline-block; width: 5em; padding: 1em; margin: 1em; background-color: aliceblue; border: 1px solid lightsteelblue; border-radius: .5em;}
.tally h2 {margin: 0; font-size: 4em;}
.tally small {text-transform: uppercase;}

#home .content,
#thanks .content {
  display: none;
}
.section {background-color: white; padding: .5em; margin-bottom: 1px;}
h2.section {margin: 0 0 .5em; padding: 0 .5em; font-size: 1em;}
.action a { display: block; background-color: black; padding: 1em; width: 4em; text-align: center;border-radius: 50%; margin: 0 auto; color: orchid; font-size: 2em; font-weight: bold; text-decoration: none; text-transform: uppercase;}

.instruction {position: relative; margin: .5em; padding: .5em; border: 4px double black;}
.instruction p:first-child {margin-top: 0;}
.instruction p:last-child {margin-bottom: 0;}
.right:after {
	content: ' ';
	width: 0; 
	height: 0; 
	border-top: 1.25em solid transparent;
	border-bottom: 1.25em solid transparent;
	border-left: 1.5em solid palegreen;
	position: absolute;
	top: 0;
	right: -1.5em;
}
.left:before {
	content: ' ';
	width: 0; 
	height: 0; 
	border-top: 1.25em solid transparent;
	border-bottom: 1.25em solid transparent; 
	border-right: 1.5em solid palegreen; 
	position: absolute;
	top: 0;
	left: -1.5em;
}

.test-1 .content {background: url('background/mixed-tape.png');}
.test-1 .section {background-color: palegreen;}

.test-2 .content {background: url('background/dinosaur.png');}
.test-2 .title {text-shadow: 2px 2px 0 lawngreen, -2px -2px 0 lawngreen, 2px -2px 0 lawngreen, -2px 2px 0 lawngreen;}
.test-2 .section {background-color: powderblue;}
.test-2 .action a {color: lawngreen;}
.test-2 .right:after {border-left-color: powderblue;}
.test-2 .left:before {border-right-color: powderblue;}

.test-3 .content {background: url('background/dolphin.png');}
.test-3 .title {text-shadow: 2px 2px 0 cyan, -2px -2px 0 cyan, 2px -2px 0 cyan, -2px 2px 0 cyan;}
.test-3 .section {background-color: pink;}
.test-3 .action a {color: cyan;}
.test-3 .right:after {border-left-color: pink;}
.test-3 .left:before {border-right-color: pink;}

.test-4 .content {background: url('background/nigel.png');}
.test-4 .title {text-shadow: 2px 2px 0 aquamarine, -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine;}
.test-4 .section {background-color: gold;}
.test-4 .action a {color: aquamarine;}
.test-4 .right:after {border-left-color: gold;}
.test-4 .left:before {border-right-color: gold;}

.carousel-and-form .carousel {
  display: none;
}
.text {
  background-color: white;
}
.text p {padding: 6em 2.5em; text-align: left;}

.slick-slider {margin-bottom: 0;}
.carousel img {max-width: 95%; margin: 5px auto;}
.carousel .photo img {box-shadow: 0 0 5px black;}

.preloader {background-position: center; background-repeat: no-repeat;}
.preloader img {visibility: hidden;}
.approve {background-image: url('background/OK.png');}
.reject {background-image: url('background/BOO.png');}

.slick-prev, .slick-next {
	position: absolute;
	display: block; width: 5em; height: 5em;
	text-indent: -10em; overflow: hidden;
	background: transparent no-repeat 50% 50%;
	background-size: 100%;
	border: none; outline: none;
	top: 50%; margin-top: -2.5em;
}
.slick-prev {
		background-image: url('background/little-OK.png');
		right: -2.5em;
}
.slick-next {
		background-image: url('background/little-BOO.png');
		left: -2.5em;
}

.score {text-align: center;}
.score strong.number {font-size: 3em;}

.template {
  display: none;
}

#links .title {
  font-size: 1.54em;
}
.link {
  float: left;
  padding-right: 1em;
}
.test-4 {
  padding-right: 0;
}

@media only screen and (min-width: 35em) {
    body {padding-top: 4em;}
    .instruction {margin: 1em 3em;}
    .col-narrow {width: 40%;}
	.col-wide {width: 60%}
	.inside {padding: 1em;}
}